* {
  box-sizing: border-box;
}
body {
  height: 200vh;
  /* background-color: #d8d8d8; */
  background-color: #cac4c4;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, "SF Pro Display", Calibri, "Times New Roman";
}

nav {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 54px;
  height: 100%;
  background-color: #f8f8f8;
  border: 2px solid #dcdcdc;
  border: 1px solid red;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
}

img {
  width: 25px;
  height: 25px;
  border-radius: 30%;
  background-color: rgb(255, 212, 212);
  border: 1px solid #dcdcdc;
}

nav > section:first-child {
  border: 1px solid red;
  background-color: pink;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

nav > section:first-child > ul {
  /* border: 1px solid blue;
    background-color: yellow; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.tb-button {
  border: 1px solid red;
}

div {
  border: 1px solid green;
}

.box-section {
  border: 1px solid red;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 12px 0 12px;
}

hr {
  width: 90%;
  margin-top: 0;
  margin-bottom: 10px;
  border: 1px solid #e0e0e0;
}

.box-simple {
  width: 30px;
  height: 30px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30%;
  background-color: #f8f8f8;
  font-size: 15px;
  color: #909090;
  position: relative;
}

.box-simple:hover {
  background-color: #e0e0e0;
}

.notificaion-dot {
  position: absolute;
  bottom: 5px;
  right: 3px;
  height: 9px;
  width: 9px;
  background-color: #ed4b23;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.box-current {
  width: 32px;
  height: 32px;
  border: 2px solid #dcdcdc;
  border-radius: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px 0;
}

#bridge1 {
  position: absolute;
  top: 12px;
  left: 40px;
  width: 30px;
  height: 33px;
  z-index: 1;
  /* display: none; */
}

.box-project {
  width: 14px;
  height: 14px;
  border-radius: 30%;
  font-weight: bolder;
  font-size: 15px;
  border: 3px solid #dcdcdc;
  color: #d0d0d0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.project-green {
  background-color: #aee9dc;
  border-color: #b9d5cf;
}

.project-blue {
  background-color: #c9d3f4;
  border-color: #c6cdee;
}

.project-purple {
  background-color: #e2c6f6;
  border-color: #d8c6e6;
}

.project-add {
  background-color: #fff;
  border-color: #dcdcdc;
}

/* tooltips */
.box-simple::after {
  content: attr(tooltiptext);
  position: absolute;
  display: none;
  background-color: #333;
  color: #dfdfdf;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 11px;
  padding-left: 8px;
  padding-right: 8px;
}

.box-simple:hover::after {
  display: block;
  top: 3px;
  left: 33px;
}

#teams-menu {
  position: absolute;
  top: 0px;
  left: 62px;
  width: 230px;
  margin: 0;
  /*----*/
  border: green solid 1px;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-inline-start: 0;
  background-color: #f8f8f8;
  border: 2px solid #dcdcdc;
  border-radius: 10px;
  box-shadow: 3px 3px 10px #d0d0d0;
  /* display: none; */
}

#teams-menu li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 4px;
  padding: 4px;
  border-radius: 10px;
  border: 2px solid #f8f8f8;
}

#teams-menu li:hover {
  border: 2px solid #e0eaf1;
  background-color: #e0eaf1;
}

#teams-menu li i {
  font-size: 15px;
  color: #909090;
  padding-left: 8px;
  padding-right: 8px;
  display: inherit;
}

#teams-menu li i.unselected {
  display: none;
}

#teams-menu li.selected {
  background-color: #e0eaf1;
}

#teams-menu li div {
  padding-left: 8px;
  padding-right: 10px;
  font-size: 11px;
  font-weight: bold;
  width: 80%;
}

#teams-menu li p {
  font-size: 10px;
  font-weight: 500;
  color: #909090;
  margin: 0;
}

.box-current:hover {
  background-color: #d8d8d8;
  border: 2px solid #d0d0d0;
  display: inherit;
}

.box-current:hover #bridge1,
.box-current:hover #teams-menu,
#bridge1:hover,
#teams-menu:hover {
  display: flex;
}

/*---------------------------------------------------------------*/
#bridge2 {
  position: absolute;
  bottom: 0;
  left: 40px;
  width: 30px;
  height: 56px;
  z-index: 1;
  /* display: none; */
}

#user-menu {
  position: absolute;
  bottom: 0px;
  left: 62px;
  width: 200px;
  margin: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f8f8f8;
  border: 2px solid #dcdcdc;
  border-radius: 10px;
  box-shadow: 3px 3px 10px #d0d0d0;
  /* display: none; */
}

#user-menu ul {
  padding-inline-start: 0;
  margin: 4px;
  font-size: 12px;
}

#user-menu ul li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 4px;
  padding: 4px;
  border-radius: 10px;
  border: 2px solid #f8f8f8;
  border: 2px solid #f8f8f8;
}

#user-menu ul li:hover {
  border: 2px solid #e0eaf1;
  background-color: #e0eaf1;
}

#user-menu ul li i {
  font-size: 15px;
  color: #909090;
  padding-left: 8px;
  padding-right: 8px;
  display: inherit;
}

#user-menu ul li i.icon-color {
  color: #bdad15;
  text-shadow: #bdad15 1px 0px 5px;
}

#user-menu ul li.selected,
#user-menu ul li i.selected {
  background-color: #cbf5dd;
  color: #19a16c;
}

#user-menu ul li div {
  padding-left: 8px;
  padding-right: 10px;
  font-size: 12px;
  font-weight: 700;
  width: 80%;
}

#user-menu ul li p {
  font-size: 10px;
  font-weight: 500;
  color: #909090;
  margin: 0;
}

#user-menu p {
  font-size: 10px;
  font-weight: 500;
  color: #909090;
  margin: 4px 20px 4px;
}

.box-current:hover #bridge2,
.box-current:hover #user-menu,
#bridge2:hover,
#user-menu:hover {
  display: flex;
}
