body {
  color: black;
  font-family: Arial, Helvetica, sans-serif;

  height: 100vb;
  margin: 0 50px 0 0;
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: 100px auto auto auto;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
}

a {
  text-decoration: none;
  color: black;
}

aside {
  grid-row: auto / span 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

aside > a:nth-child(2) {
  font-size: 40px;
}

header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  align-items: center;
}

header svg {
  width: 220px;
}

header section:nth-child(1) {
  display: flex;
  justify-content: start;
}

header section:nth-child(1) a {
  margin-right: 30px;
}

header section:nth-child(3) {
  display: flex;
  justify-content: end;
  font-size: 10px;
  font-weight: 800;
}

header section:nth-child(3) a {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
}

header section:nth-child(3) a:nth-child(2) {
  border: 2px solid silver;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
}

body > nav {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #d0d0d0;
}

body > nav > section {
  padding-right: 60px;
}

body > nav > section > time,
body > nav > section > h3 {
  margin: 0 0 3px 0;
  /* width: 200px; */
}

body > nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding-inline-start: 0;
  list-style: none;
}

body > nav > ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

body > nav > ul li:last-child {
  height: 65px;
  width: 65px;
  background-color: black;
}

/* body > nav > ul > li > a { */
li > a {
  color: #606060;
  font-size: 11px;
  font-weight: 500;
}

body > nav > ul li:last-child a {
  color: white;
  font-size: 14px;
}
/* ----------------------------------------- */

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 25%;
  grid-template-rows: 70px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-bottom: 1px solid silver;
  padding-bottom: 30px;
}

main > nav {
  grid-area: 1 / 1 / 2 / 4;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  font-size: 12px;
  align-items: center;
}

main > nav > section {
  margin-right: 60px;
  padding-right: 30px;
}

main > nav > h2 {
  padding-right: 40px;
  padding-bottom: 3px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 22px;
}

main > nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-inline-start: 0;
  list-style: none;
}

main > nav > ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0 3px 0;
  margin-right: 50px;
}

main > nav > ul > li:first-child {
  border-bottom: 3px solid #d0d0d0;
}

main > section {
  margin-top: 20px;
}

main > section:nth-child(2),
main > section:nth-child(3) {
  border-right: 1px solid #e8e8e8;
  padding-right: 50px;
  margin-right: 50px;
}

main > section > h4 {
  font-family: Georgia, Times, "Times New Roman", serif;
  margin: 0 0 30px;
}

/* ----------------------------------------- */
.section-category {
  display: block;
}
.section-category a {
  background-color: black;
  color: white;
  padding: 10px 14px;
  font-weight: 800;
  font-size: 8px;
}

.section-category time {
  padding: 10px 14px;
  font-weight: 800;
  font-size: 8px;
}

.continue-reading {
  font-size: 10px;
  line-height: 1.5;
  font-weight: 600;
  color: #808080;
  padding-bottom: 7px;
  border-bottom: 3px solid #d0d0d0;
}

/* ----------------------------------------- */

.article-type1 {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.article-type1 > section > img {
  width: 210px;
}

.article-type1 > section {
  margin-bottom: 30px;
}

.article-type1 > h1 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 26px;
  font-weight: bold;
}

.article-type1 > h2 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 13px;
  line-height: 1.5;
  font-weight: 600;
  color: #606060;
}

/* ----------------------------------------- */

.article-type2 {
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.article-type2 > section {
  margin-bottom: 30px;
}

.article-type2 > h1 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  font-weight: bold;
  margin: 15px 0;
}

.page {
  font-size: 6px;
}

/* ----------------------------------------- */
.article-type3 {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 0 0 20px 0;
  padding: 0;
  height: fit-content;
}

.article-type3 > h1 {
  grid-area: 1 / 1 / 2 / 2;
  display: inline-block;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  height: fit-content;
}

.article-type3 > h2 {
  grid-area: 2 / 1 / 3 / 2;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 11px;
  line-height: 1.5;
  font-weight: 600;
  color: #606060;
  margin: 0;
  padding: 0;
  height: fit-content;
}

.article-type3 > section {
  grid-area: 1 / 2 / 3 / 3;
  margin: 0;
  padding: 0;
}

.article-type3 > section > img {
  width: 120px;
  margin: 0;
  padding: 0;
}

/* ----------------------------------------- */

footer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 60px auto;
  grid-column-gap: 14px;
  grid-row-gap: 0px;
  padding-bottom: 20px;
}

footer > nav {
  grid-area: 1 / 1 / 2 / 7;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  align-items: center;
}

footer > nav > section > time,
footer > nav > section > h1 {
  margin: 0 0 3px 0;
  padding-right: 60px;
}

footer > nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-inline-start: 0;
  list-style: none;
  height: 100%;
}

footer > nav > ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-right: 30px;
}

footer > nav > a {
  font-weight: 800;
  color: #606060;
  font-size: 10px;
}

footer > nav > a > i {
  padding-left: 10px;
}

/* ----------------------------------------- */
.article-type4 {
  background-color: #ff3366;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 15px;
  margin: 0;
  color: white;
}

.article-type4:nth-of-type(2n + 2) {
  background-color: rgb(57, 137, 57);
}

.article-type4 > section:first-child {
  grid-area: 1 / 1 / 2 / 3;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.article-type4 > section:first-child h1 {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin: 0;
  padding: 0;
}

.article-type4 > section:first-child p {
  font-size: 10px;
  display: inline;
  margin: 0 0 0 10px;
  padding: 0;
}

/* section de la imagen img  */
.article-type4 > section:nth-child(2) {
  grid-area: 2 / 2 / 4 / 3;

  display: flex;
  align-items: end;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}

.article-type4 > section:nth-child(2) > img {
  width: 90px;
  margin: 0;
  padding: 0;
}

.article-type4 > p {
  grid-area: 2 / 1 / 3 / 2;
  margin: 20px 0;
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 100;
}

.article-type4 > time {
  grid-area: 3 / 1 / 4 / 2;
  font-size: 10px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  display: inline;
  align-items: center;
  height: fit-content;
}

.article-type4 > time > i {
  font-size: 12px;
  padding-right: 5px;
}

/* ----------------------------------------- */

i {
  position: relative;
}

.notificaion-dot {
  position: absolute;
  top: 0px;
  right: -1px;
  height: 4px;
  width: 4px;
  background-color: #ed4b23;
  border: 2px solid #ffffff;
  border-radius: 50%;
}
